.header {
   position: sticky;
   top: 0;
   z-index: 100;
   background-color: #10BBD5;
}

.header_logo_block {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 72px;
}


.header_logo-book {
   color: #F8FDFE;
   font-size: 1.5em;
   font-weight: 700;
   display: flex;
}
.logo_book-img {
   width: 24px;
   height: 28px;
}
.header_price-num {
   color: #F8FDFE;
   line-height: 24px;
   margin-right: 8px;
}
.trolley_logo {
   background-color: #10BBD5;
   border: none;
   position: relative;
}
.trolley_wheel-1 {
   position: absolute;
   top: 25px;
   left: 8px;
}
.trolley_wheel-2 {
   position: absolute;
   top: 25px;
   right: 4px;
}
.trolley_count {
   position: absolute;
   font-size: 12px;
   line-height: 10px;
   top: 55%;
   left: 58%;
   transform: translate(-50%, -50%);
}

.header_navbar_block {
   background-color: #fff;
   height: 2em;
}
.header_navbar_block-content {
   display: flex;
   justify-content: space-between;
   line-height: 2em;
}
.navbar_category {
   color: #000;
}
.navbar_menu {
   display: flex;
   gap: 40px;
}


.main {
   background-color: #EEEEEF;
}
.main_wrapper {
   padding-top: 2em;
}
.main_title {
   color: #1F1F1F;
   font-size: 2em;
   width: 100%;
   border-bottom: 1px solid #A8A8A8;
   padding-bottom: 1.5em;
}


.product_section {
   padding: 24px 0 120px;
}

.book_menu {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(3, 1fr);
   grid-gap: 2em 1.5em;
}

.book_menu_list {
   padding: 32px;
   background-color: #fff;
   border: 1px solid #A8A8A8;
   display: flex;
   flex-direction: column;
   position: relative;
}


.adding_on_product {
   color: #F8FDFE;
   line-height: 24px;
   padding: 4px 8px;
   width: fit-content;
   position: absolute;
}
.hit_product {
   border-radius: 4px;
   background-color: #4200FF;
}
.new_product {
   border-radius: 4px;
   background-color: #AF39E7;
}
.discount_product {
   border-radius: 4px;
   background: #EA33C0;
}
.first {
   top: 32px;
   left: 28px;
}
.second {
   top: 32px;
   left: 67px;
}

.second_discount {
   top: 32px;
   left: 78px;
}

.book_img_link {
   align-self: center;
}
.book_text_link {
   margin-top: 16px;
}
.book_image {
   width: 178px;
   height: 280px;
}

.book_title {
   color: #1F1F1F;
   font-size: 20px;
   border-bottom: 1px solid #A8A8A8;
   line-height: 28px;
   font-weight: 700;
   overflow: hidden;
   white-space: nowrap;
}
.book_author {
   color: #8E8E8E;
   line-height: 24px;
}
.book_price {
   color: #E90000;
   font-size: 1.5em;
   line-height: 2em;
   margin-bottom: 16px;
}
.book_button {
   background-color: #4C394E;
   padding: 8px 24px;
   color: #F8FDFE;
   border-radius: 4px;
   border: 1px solid #4C394E;
}
.book_button:hover {
   background-color: #744978;
   border: 1px solid #744978;
}
.book_button_added {
   background-color: #4D762D;
   border-radius: 4px;
   padding: 8px 24px;
   color: #F8FDFE;
   border: 1px solid #4D762D;
}
.book_button_added:hover {
   background-color: #6DB236;
   border: 1px solid #6DB236;
}

.book_price_block {
   margin-bottom: 16px;
}
.crossed_book_price {
   color: #8E8E8E;
   font-size: 1.5em;
   font-style: normal;
   font-weight: 500;
   line-height: 2em;
   text-decoration: line-through;
   margin-left: 24px;
}

.footer {
   background-color: #4C394E;
   height: 88px;
}
.footer_wrapper {
   height: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.footer_text {
   color: #F8FDFE;
   line-height: 24px;
}

.chat_button {
   width: 64px;
   height: 64px;
   border: 1px solid #10BBD5;
   border-radius: 50%;
   background-color: #10BBD5;
   background-image: url("/images/chat_button.png");
   background-position: center;
   position: fixed;
   right: 30px;
   bottom: 35px;
   transition: .4s;
}

.chat_button:hover {
   transform: rotate(20deg);
}